# Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing data

In [12]:
# Importing the orders.csv data set
df = pd.read_csv(r'/Users/sophie/Desktop/CareerFoundry /09 2023 Phython/Data/original data /orders.csv', index_col = False)

In [14]:
# Setting the path as a variable 
path = r'/Users/sophie/Desktop/CareerFoundry /09 2023 Phython/'
path

'/Users/sophie/Desktop/CareerFoundry /09 2023 Phython/'

In [16]:
# Using os join as shortcut
df = pd.read_csv(os.path.join(path, 'Data', 'original data ', 'orders.csv'), index_col = False)

In [33]:
# Exploring the data frame
df.head()
df.head(30)
df.tail()
df.shape
df.info()
df.dtypes
df.column
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

AttributeError: 'DataFrame' object has no attribute 'column'

In [35]:
# Applicating the list function
#identify the first 1000 rows to find obsolete columns
df = pd.read_csv(os.path.join(path, 'Data', 'original data ', 'orders.csv'), nrows=1000)
df

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
995,2302602,64,prior,7,5,20,9.0
996,3215917,64,prior,8,6,17,15.0
997,2754807,64,prior,9,6,15,7.0
998,3129760,64,prior,10,1,10,9.0
999,2639013,64,train,11,0,13,27.0

In [36]:
# Create a variable list
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [37]:
vars_list

['order_id',
 'user_id',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order']

In [38]:
df = pd.read_csv(os.path.join(path, 'Data', 'original data ', 'orders.csv'), usecols = vars_list)

In [39]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0