# Exercise 4.7 Deriving new variables

## Contents
## 1. Using loc function
## 2. If-Statements with For-Loops 
## 3. Task 4.7
### 3.1 Create new column “busiest_period_of_day" 
### 3.2 Alternative: via Quartiles

In [25]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [26]:
# Project folder path as string
path = r'/Users/sophie/Desktop/CareerFoundry /09 2023 Phython'
path

'/Users/sophie/Desktop/CareerFoundry /09 2023 Phython'

In [27]:
# Import data set
ords_prods_merged = pd.read_pickle(os.path.join(path, 'Data', 'prepared data ', 'orders_products_merged.pkl'))
ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both

In [28]:
# Subset to avoid memory issues or trouble with processing power
df = ords_prods_merged[:1000000]

In [29]:
df.head()
df.shape

(1000000, 15)

In [30]:
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [31]:
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/7f/g3kqhl2s2wd2fd054p87pc_w0000gn/T/ipykernel_19860/2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [32]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product

In [33]:
df['price_range'].value_counts()

price_range
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [34]:
df['prices'].max()

14.8

## 1. Using loc function

In [35]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/7f/g3kqhl2s2wd2fd054p87pc_w0000gn/T/ipykernel_19860/1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [36]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [37]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [38]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

#### Using loc function on whole dataframe

In [39]:
ords_prods_merged.loc[ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [40]:
ords_prods_merged.loc[(ords_prods_merged['prices'] <= 15) & (ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [41]:
ords_prods_merged.loc[ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [42]:
ords_prods_merged['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

In [43]:
756450 +  21104410

21860860

## 2. If-Statements with For-Loops

In [44]:
# Define on which day most orders take place
ords_prods_merged['orders_day_of_week'].value_counts(dropna=False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [45]:
# Create a for-loop to create column for busiest days
result = [] # Create new empty list

for value in ords_prods_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [ ]:
result

In [47]:
ords_prods_merged['busiest_day'] = result

In [48]:
ords_prods_merged['busiest_day'].value_counts(dropna=False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

In [49]:
# Checking regularly busy
5660230 + 4496490 + 4213830 + 4205791 + 3840534

22416875

# 3. Task 4.7

In [50]:
# Create a For-Loop for “Busiest days” as the two busiest days of the week and "Slowest days" as two slowest days

result_2 = [] 

for value in ords_prods_merged["orders_day_of_week"]:
  if (value == 0 or value == 1):      
    result_2.append("Busiest days")
  elif (value == 4 or value == 3):
    result_2.append("Slowest days")
  else:
    result_2.append("Regularly busy")

In [51]:
ords_prods_merged['busiest_days'] = result_2

In [52]:
ords_prods_merged['busiest_days'].value_counts(dropna=False)

busiest_days
Regularly busy    12916111
Busiest days      11864412
Slowest days       7624336
Name: count, dtype: int64

In [53]:
# Check:

b = 6204182 + 5660230

s = 3840534 + 3783802

print(b,s)

11864412 7624336

#### Everything seems correct. Saturday and Sunday are the busiest days, Tuesday and Wednesday are the slowest days.

## 3.1 Create new column “busiest_period_of_day" 
#### With “Most orders,” “Average orders,” and “Fewest orders”

In [54]:
# Check the hours
ords_prods_merged['order_hour_of_day'].value_counts(dropna=False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [61]:
# Using For-Loop for busiest 4 hours, slowest 4 hours, and rest as average hours

busiest_hours = [] 

for value in ords_prods_merged["order_hour_of_day"]:
  if (value == 10 or value == 11 or value == 14 or value == 15):      
    busiest_hours.append("Most orders")
  elif (value == 5 or value == 2 or value == 4 or value == 3):
    busiest_hours.append("Fewest orders")
  else:
    busiest_hours.append("Average orders")

In [62]:
ords_prods_merged['busiest_hours'] = busiest_hours

In [63]:
ords_prods_merged['busiest_hours'].value_counts(dropna = False)

busiest_hours
Average orders    21293820
Most orders       10849180
Fewest orders       261859
Name: count, dtype: int64

In [58]:
# Check frequencies for accuracy

ms = 2761760 + 2736140 + 2689136 + 2662144
a = 2660954 + 2618532 + 2535202 + 2454203 + 2087654 + 1718118 + 1636502 + 1258305 + 976156 + 891054 + 795637 + 634225 + 402316 + 290493 + 218769 + 115700
fs = 87961 + 69375 + 53242 + 51281

print (ms, a, fs)

10849180 21293820 261859

#### Everything looks correct

In [64]:
ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_hours
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

## 3.2 Alternative: via Quartiles

In [72]:
# Creating a list showing the percentiles for the value counts of the column 'oder_hour_of_day'
orders = list(ords_prods_merged['order_hour_of_day'].value_counts().quantile([0.25,0.5,0.75]))
orders

[272562.0, 1117230.5, 2556034.5]

In [74]:
counts = ords_prods_merged['order_hour_of_day'].value_counts().rename_axis('hour').reset_index(name='counts')

In [76]:
few = list(counts.loc[counts['counts'] <= orders[0]]['hour'])
index_few = ords_prods_merged['order_hour_of_day'].isin(few)
ords_prods_merged.loc[index_few, 'busiest_period_of_day'] = 'Fewest orders'

average = list(counts.loc[(counts['counts'] > orders[0]) & (counts['counts'] < orders[2])]['hour'])
index_average = ords_prods_merged['order_hour_of_day'].isin(average)
ords_prods_merged.loc[index_average, 'busiest_period_of_day'] = 'Average orders'

most = list(counts.loc[counts['counts'] >= orders[2]]['hour'])
index_most = ords_prods_merged['order_hour_of_day'].isin(most)
ords_prods_merged.loc[index_most, 'busiest_period_of_day'] = 'Most orders'

In [77]:
ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_hours,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,Average orders
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,Average orders
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,Most orders
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,Average orders
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,Most orders

In [79]:
# Export data to pkl
ords_prods_merged.to_pickle(os.path.join(path, 'Data', 'prepared data ', 'ords_prods_merged_newvar.pkl'))

In [80]:
ords_prods_merged.shape

(32404859, 20)